/ _piwik.slim

javascript:
	var _paq = _paq || [];
	_paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
	_paq.push(["setCookieDomain", "*.manicminer.in"]);
	_paq.push(["trackPageView"]);
	_paq.push(["enableLinkTracking"]);
	_paq.push(['setCustomVariable', 1, "username", "#{current_account ? current_account.name : 'anonymous'}", "visit"]);

	(function() {
		var u=(("https:" == document.location.protocol) ? "https" : "http") + "://stats.manicminer.in/";
		_paq.push(["setTrackerUrl", u+"piwik.php"]);
		_paq.push(["setSiteId", "5"]);
		var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
		g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
	})();
